
<%- include("./partials/header") %> 

    <!-- <%# include("./partials/navbar") %>  -->

    <link rel="stylesheet" href="/css/home.css">
<!-- 
    <section class="home" id="home">

        <div class="home-slider owl-carousel">

            <div class="item">
                <img src="../assets/image1.jpg" alt="cc">
                <div class="content">
                    <h3>Heavy Discount</h3>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Exercitationem sapiente a temporibus vitae aperiam magni?</p>
                    <a href="#"><button class="btn">Discover</button></a>
                </div>
            </div>
            <div class="item">
                <img src="../assets/image2.jpg" alt="cc">
                <div class="content">
                    <h3>Latest Gadgets</h3>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Exercitationem sapiente a temporibus vitae aperiam magni?</p>
                    <a href="#"><button class="btn">Discover</button></a>
                </div>
            </div>
            <div class="item">
                <img src="../assets/image3.jpg" alt="cc">
                <div class="content">
                    <h3>Trending Items</h3>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Exercitationem sapiente a temporibus vitae aperiam magni?</p>
                    <a href="#"><button class="btn">Discover</button></a>
                </div>
            </div>
            <div class="item">
                <img src="../assets/image4.jpg" alt="cc">
                <div class="content">
                    <h3>Fresh Collections</h3>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Exercitationem sapiente a temporibus vitae aperiam magni?</p>
                    <a href="#"><button class="btn">Discover</button></a>
                </div>
            </div>
            

        </div>

    </section> -->

    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> -->

    <!-- <script>     
        $('.home-slider').owlCarousel({
            items:1,
            nav:true,
            dots:false,
            autoplay:true,
            autoplayTimeout:8000,
            loop:true
        });
    </script> -->



    <main>

        <div class="big-wrapper">

            <header>
                <div class="containers">

                    <div class="logo">
                        <img src="/assets/logo.png" alt="xx">
                        <h3>Shoping Cart</h3>
                    </div>

                    <div class="links">
                        <ul>
                            <li><a href="#">Features</a></li>
                            <li><a href="#">Pricing</a></li>
                            <li><a href="#">Products</a></li>
                            <li><a href="/login" class="btns">Sign up</a></li>
                        </ul>
                    </div>

                </div>
            </header>

            <div class="showcase-area">

                <div class="containers">

                    <div class="left">
                        
                        <div class="big-title">
                            <h1>Future is here,</h1>
                            <h1>Start Exploring now.</h1>
                        </div>
                        <p class="text">
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quas enim nostrum quam pariatur necessitatibus delectus assumenda totam deleniti molestias.
                        </p>
                        <div class="cta">
                            <a href="/products" class="btns">Get Started</a>
                        </div>
    
                    </div>
    
                    <div class="right">
    
                        <img src="/assets/person.png" class="person" alt="">
    
                    </div>

                </div>


            </div>

            <!-- <div class="bottom-area">

                <div class="containers">
                    <button class="toggle-btn">
                        <i class="far fa-moon"></i>
                        <i class="far fa-sun"></i>
                    </button>
                </div>

            </div> -->

        </div>
    </main>








    <script src="/js/home.js"></script>

</body>
</html>

