
<%- include("./partials/header") %> 

    <!-- <%# include("./partials/navbar") %>  -->

    <link rel="stylesheet" href="/css/home.css">

    <main>

        <div class="big-wrapper">

            <header>
                <div class="containers">

                    <div class="logo">
                        <img src="/assets/logo.png" alt="xx">
                        <h3>Shoping Cart</h3>
                    </div>

                    <div class="links">
                        <ul>
                            <!-- <li><a href="">Features</a></li> -->
                            <li><a href="/contactUs">Contact us</a></li>
                            <li><a href="/products">Products</a></li>
                            <li><a href="/login" class="btns">Sign up</a></li>
                        </ul>
                    </div>

                </div>
            </header>

            <div class="showcase-area">

                <div class="containers">

                    <div class="left">
                        
                        <div class="big-title">
                            <h1>Future is here,</h1>
                            <h1>Start Exploring now.</h1>
                        </div>
                        <p class="text">
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quas enim nostrum quam pariatur necessitatibus delectus assumenda totam deleniti molestias.
                        </p>
                        <div class="cta">
                            <a href="/products" class="btns">Get Started</a>
                        </div>
    
                    </div>
    
                    <div class="right">
    
                        <img src="/assets/person.png" class="person" alt="">
    
                    </div>

                </div>


            </div>

            <!-- <div class="bottom-area">

                <div class="containers">
                    <button class="toggle-btn">
                        <i class="far fa-moon"></i>
                        <i class="far fa-sun"></i>
                    </button>
                </div>

            </div> -->

        </div>
    </main>








    <script src="/js/home.js"></script>

</body>
</html>

