.card img{
    padding: 13px;
    height: 50%;
}
.products .card {
    height: 400px;
    margin-bottom: 17px;
    margin-top: 15px auto;
}
section .heading {
    width: 100%;
    background-color: #e9ecef;
    padding: 16px;
    margin: 10px auto;
    border-radius: 10px;
  }
