/* --------------------------------Featured Section-------------------------------- */
.feature{
    min-height: 50vh;
    background: linear-gradient(165deg,#fff 50%,#1E88E5 50.1%);
    margin-bottom: 2rem;
}

/* .feature .row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem 0;
    margin: 3rem auto;
    width: 95%;
    background: #fff;
    box-shadow: 0 .3rem .5rem rgba(0,0,0,.3);
    border-radius: 1rem;
}


.feature .row .image-container{
    display: flex;
    text-align: center;
    width: 30rem;
    
}

.feature .row .image-container .big-image img{
    height:21rem;
    margin: 2.3rem 0;
    filter: drop-shadow(0 .2rem .5rem #000);
}

.feature .row .image-container .small-image{
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
}

.feature .row .image-container .small-image img{
    height: 4rem ;
    padding: 0.3rem;
    margin: 0.5rem 2rem;
    border: 0.2rem solid #666;
    cursor: pointer;
}

.feature .row .image-container .small-image img.image-active,
.feature .row .image-container .small-image img:hover{
    border: 0.3rem solid #1E88E5;
}

.feature .row .content{
    padding-left: 4rem ;
    width: 30rem;
    
}

.feature .row .content h3{
    font-size: 3rem;
    color: #1E88E5 ;
}

.feature .row .content .stars i{
    font-size: 1.3rem;
    color:orange ;
    padding: 1rem 0;
}

.feature .row .content .stars span{
    font-size: 1.3rem;
    color:#666 ;
    padding: 1rem 0;
}

.feature .row .content p{
    color: #333;
    
    font-size: 1.2rem;
    padding: 0.4rem 0;
}

.feature .row .content strong{
    color: #ff3300;
    font-size: 1.5rem; 
}

.feature .row .content .price span{
    color: #666;
    text-decoration: line-through;
    font-size: 1.4rem; 
}

.feature .row .content .btn{
    size: 1.4rem;
    margin-left: 1rem;

} */

.featuredBox{
    display: flex;
    padding: 20px;
    background: #fff;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem 0;
    margin: 2.5rem auto;
    width: 95%;
    border-radius: 5px;

    box-shadow: 0px 1px 11px 3px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 1px 11px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 1px 11px 3px rgba(0,0,0,0.75);
}

.image-container{
    flex: 4;
    display: flex;
}

.big-image{
    margin: 2.1rem 0;
    margin-left: 50px;
    margin-right: 20px;
    height:25rem;  
    filter: drop-shadow(0 .2rem .5rem #000);
}

.big-image img{
    height: 100%;
    width: 100%;
    object-fit:contain;
}

.small-image{
    display: flex;
    min-width: 80px;
    max-width: 115px;
    margin: 2.3rem 1rem;
    padding: 0 20px;
    /* justify-content: center; */
    flex-flow: column wrap;
}

.small-image img{
    height: 5rem ;
    width: 100%;
    margin: 9px 0;
    padding: 0.3rem;
    border: 0.2rem solid #666;
    cursor: pointer;
    object-fit:cover;
}

.small-image img.image-active,
.small-image img:hover{
    border: 0.3rem solid #1E88E5;
}

.content{
    flex: 4;
    margin: 40px 50px;
    padding-left: 4rem ;
    width: 30rem;
}

.content h3{
    font-size: 3rem;
    color: #1E88E5 ;
}

.content .stars i{
    font-size: 1.3rem;
    color:orange ;
    padding: 1rem 0;
}

.content .stars span{
    font-size: 1.3rem;
    color:#666 ;
    padding: 1rem 0;
}

.content p{
    color: #333;
    
    font-size: 1.2rem;
    padding: 0.4rem 0;
}

.content strong{
    color: #ff3300;
    font-size: 1.5rem; 
}

.content .price span{
    color: #666;
    text-decoration: line-through;
    font-size: 1.4rem; 
}

.content .btn{
    size: 1.4rem;
    margin-left: 1rem;
    background-color: #1E88E5;
    color: white;
    padding: 4px 40px;
    border-radius: 5px;
} 


.owl-carousel .owl-prev, .owl-carousel .owl-next{
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    outline: none;
}

.owl-carousel .owl-prev{
    left: 2.4rem;;
}

.owl-carousel .owl-next{
    right:2.4rem;;
}

 .owl-carousel .owl-prev span, .owl-carousel .owl-next span{
    color: #1E88E5;
    font-size: 5.5rem;
}


@media (max-width:1208px){
    .feature .row .image-container{
        flex-flow: column;
    }
    .feature .row .image-container .small-image{
        flex-flow: row wrap;
        padding-bottom: 1rem;
        padding: 0 1rem;
    }
}




/* ----------------------------------------Gallery Section---------------------------------- */
.gallery{
    min-height: 100vh;
}

.gallery .controls{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: .021rem;
    list-style: none;
}

.gallery .controls .btn{
    margin: 1.6rem;
    width: 130px;
    line-height: 1.9rem;
    text-align: center;
    color: #fff;
    background-color: #1E88E5;
    box-shadow: 0 .3rem .5rem rgba(0,0,0,.3);
}

.gallery .controls .btn.button-active{
    background: #333;
}

.gallery .image-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.gallery .image-container .box{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1.7rem;
    border: 0.2rem solid rgba(0,0,0,.3);
    flex: 1 1 23rem;
}

.gallery .image-container .box .image{
    height: 11rem;
    width: 16rem;
    text-align: center;
    padding: 1.2rem;
    background: #f0f0f0;
}

.gallery .image-container .box .image img{
    height: 100%;
    object-fit: cover;
}

.gallery .image-container .box:hover .image {
    background-color: #ccc;
}

.gallery .image-container .box .info{
    width: 100%;
}

.gallery .image-container .box .info h3{
    font-size: 1.6rem;
    color:#1E88E5;
    padding: 1rem;
}

.gallery .image-container .box .info .subInfo{
    display: flex;
    align-items: center;
    justify-content:space-between;
    border-top: .1rem solid rgba(0,0,0,.3);
    padding: 1rem;
}

.gallery .image-container .box .info .subInfo .price{
    color: #ff3300;
    font-size: 1.5rem;
}

.gallery .image-container .box .info .subInfo .stars i{
    color:orange;
    font-size: 1.1rem;
}

.viewProduct{
    padding: 5px 25px;
    background-color: #1E88E5;
    border-radius: 5px;
    color: white;
    text-decoration:none;
    font-size: 15px;
}

.viewProduct:hover{
    color: white;
}