<%- include("../partials/header")  %>  
<%- include("../partials/navbar")  %> 

    <link rel="stylesheet" href="/css/contactUs.css">

    <!-- ************************3D Cards********************************************** -->

    <!-- <h3 class="heading">Our Team</h3>

    <div class="threeDCard">

        <section >
            <div class="wrap">
                <div  class="side-a">
                    <img style="border-radius: 50%;" src="/assets/contactUs1.png" alt="">
                </div>
                <div style="box-sizing: content-box; overflow: hidden;;" class="side-b">
                    <h2>Prashil Ganvir</h2>
                    <h6>(Backend Developer)</h6>
                    <p style="box-sizing: content-box;">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et modi atque laudantium illo eveniet</p>
                </div>
            </div>
        </section>

        <section>
            <div class="wrap">
                <div  class="side-a">
                    <img style="border-radius: 50%;" src="/assets/contactUs2.png" alt="">
                </div>
                <div style="box-sizing: content-box; overflow: hidden;;" class="side-b">
                    <h2>Swapnil Therkar</h2>
                    <h6>(Frontend Developer)</h6>
                    <p style="box-sizing: content-box;">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et modi atque laudantium illo eveniet,</p>
                </div>
            </div>
        </section>

        <section>
            <div class="wrap">
                <div  class="side-a">
                    <img style="border-radius: 50%;" src="/assets/contactUs3.png" alt="">
                </div>
                <div style="box-sizing: content-box; overflow: hidden;;" class="side-b">
                    <h2>Aman Patil</h2>
                    <h6>(Backend Developer)</h6>
                    <p style="box-sizing: content-box;">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et modi atque laudantium illo eveniet,oluptatum</p>
                </div>
            </div>
        </section>

        <section>
            <div class="wrap">
                <div  class="side-a">
                    <img style="border-radius: 50%;" src="/assets/contactUs4.png" alt="">
                </div>
                <div style="box-sizing: content-box; overflow: hidden;;" class="side-b">
                    <h2>Arpit Umate</h2>
                    <h6>(Frontend Developer)</h6>
                    <p style="box-sizing: content-box;">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et modi atque laudantium illo eveniet</p>
                </div>
            </div>
        </section>

    </div> -->

    <!-- ------------------------------------------------------------------------------------------- -->

    <div class="container">
        <span class="big-circle"></span>
        <img src="/assets/shape.png" class="square" alt="" />
        <div class="form">
          <div class="contact-info">
            <h3 class="title">Let's get in touch</h3>
            <p class="text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe
              dolorum adipisci recusandae praesentium dicta!
            </p>
  
            <div class="info">
              <div class="information">
                <!-- <img src="/assets/location.png" class="icon" alt="" /> -->
                <i class="fas fa-map-marked-alt icon"></i>
                <p>92 Cherry Drive Uniondale, NY 11553</p>
              </div>
              <div class="information">
                <!-- <img src="/assets/email.png" class="icon" alt="" /> -->
                <i class="far fa-envelope icon" ></i>
                <p>lorem@ipsum.com</p>
              </div>
              <div class="information">
                <!-- <img src="/assets/phone.png" class="icon" alt="" /> -->
                <i class="fas fa-phone-alt icon"></i>
                <p>123-456-789</p>
              </div>
            </div>
  
            <div class="social-media">
              <p>Connect with us :</p>
              <div class="social-icons">
                <a href="#">
                  <i class="fab fa-facebook-f"></i>
                </a>
                <a href="#">
                  <i class="fab fa-twitter"></i>
                </a>
                <a href="#">
                  <i class="fab fa-instagram"></i>
                </a>
                <a href="#">
                  <i class="fab fa-linkedin-in"></i>
                </a>
              </div>
            </div>
          </div>
  
          <div class="contact-form">
            <span class="circle one"></span>
            <span class="circle two"></span>
  
            <form action="/contactUsResolve" method="GET" autocomplete="off">
              <h3 class="title">Contact us</h3>
              <div class="input-container">
                <input type="text" name="name" class="input" required/>
                <label for="">Username</label>
                <span>Username</span>
              </div>
              <div class="input-container">
                <input type="email" name="email" class="input" required/>
                <label for="">Email</label>
                <span>Email</span>
              </div>
              <div class="input-container">
                <input type="tel" name="phone" class="input" required/>
                <label for="">Phone</label>
                <span>Phone</span>
              </div>
              <div class="input-container textarea">
                <textarea name="message" class="input" required></textarea>
                <label for="">Message</label>
                <span>Message</span>
              </div>
              <input type="submit" value="Send" class="btn" />
            </form>
          </div>
        </div>
      </div>

      <script src="/js/contactUs.js"></script>



<!-- <%# include("../partials/footer")  %>  -->